<h1><%= @title %></h1>

<p><%= @user_count %> users.</p>
<% @users.each do |u| %>
  <%= link_to image_tag(u.profile_image_url), {:action=>"show", :screen_name=>u.screen_name}, :title=>h("#{u.screen_name}") %>
<% end %>
